{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <!-- placeholder title-->
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'self_service_terminal/styles.css' %}" />
    <!-- Scripts with the async attribute are executed asynchronously.
      This means the script is executed as soon as it's downloaded,
      without blocking the browser in the meantime. -->
    <!-- HaSh:note for Hakeem:we need to decide later whether we use "async" or "defer" -->
    <script src="app.js" type="text/javascript" async></script>
</head>
<!-- HaSh:note for Hakeem:we might need to add labels(Screen reader users) -->

<body>
    <div id="up">
        <div class="container">
            <div class="aok">
                <img src="{% static 'self_service_terminal/Logo_AOK_PLUS.svg.png' %}" />
            </div>
            <div id="nav-bar">
                <div class="tu-ilmenau">
                    <img src="{% static 'self_service_terminal/Tu-ilmenauLogo.png' %}" />
                </div>
            </div>
        </div>
        <!-- HaSh:note for Hakeem:maybe we don't need the frequent section in all htmls,
             then remove from here and "include" in the desired html-->
        <h2 class="grey">Häufig gewählt:</h2>

        <div class="frequent">
            <a style="text-decoration: none;" class="noselect frequent-element btn" href="years/">Antrag auf Befreiung
                von
                Zuzahlungen (Alle Jahre)
            </a>
            <a style="text-decoration: none;" class="noselect frequent-element btn" href="formular/">
                Antrag Fahrkostenerstattung zur ambulanten Behandlung</a>
            <a style="text-decoration: none;" class="noselect frequent-element btn" href="formular/">Anmeldung zum
                Pflegekurs</a>
            <a style="text-decoration: none;" class="noselect frequent-element btn" href="formular/">...</a>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>

</html>