{% load static %}
<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
    <meta charset="utf-8" />
    <!-- placeholder title-->
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'self_service_terminal/styles.css' %}" />
</head>

<body>
    <nav id="nav-bar" style="background-color:{{menu.settings.colorval_nav_bar}}">
        <a href="/">Startseite</a>
        <header>

            <div id="left-link">
                <!--<img id="left-logo" src="{% static 'self_service_terminal/Tu-ilmenauLogo.png' %}" />-->
                <img id="left-logo" src="{{settings.institute_logo.url}}" />
            </div>
            <div id="right-link">
                <!--<img id="right-logo" src="{% static 'self_service_terminal/Logo_AOK_PLUS.svg.png' %}" />-->
                <img id="right-logo" src="{{settings.insurance_logo.url}}" />
            </div>

        </header>
    </nav>

    {% block content %}
    {% endblock content %}

</body>

</html>