{% extends "self_service_terminal/base.html"%}
{% load static %}
{% block content%}

<div id="down">
  <h2 class="grey">Menü</h2>

  <form action="index.html" method="post">
    <div class="menu">
      <button class="noselect menu-element btn" type="button" name="Versicherung">
        Versicherung
      </button>
      <button class="noselect menu-element btn" type="button" name="Tarife">
        Tarife
      </button>
      <button class="noselect menu-element btn" type="button" name="Leistungen">
        Leistungen
      </button>
      <button class="noselect menu-element btn" type="button" name="Sonstiges">
        Sonstiges
      </button>
    </div>
  </form>
</div>

{% endblock %}