{% extends "self_service_terminal/base.html"%}
{% load static %}
{% block title %}Startseite{% endblock %}
{% block content%}

<div id="down">
  <h2 class="grey">Startseite</h2>

  <form action="index.html" method="post">
    <div class="menu">
      <button class="noselect menu-element btn" type="button" name="Versicherung" style="color:{{menu.settings.colorval_button}}">
        Versicherung
      </button>
      <button class="noselect menu-element btn" type="button" name="Tarife" style="color:{{menu.settings.colorval_button}}">
        Tarife
      </button>
      <button class="noselect menu-element btn" type="button" name="Leistungen" style="color:{{menu.settings.colorval_button}}">
        Leistungen
      </button>
      <button class="noselect menu-element btn" type="button" name="Sonstiges" style="color:{{menu.settings.colorval_button}}">
        Sonstiges
      </button>
    </div>
  </form>
</div>

{% endblock %}