{% extends "self_service_terminal/base.html"%}
{% load static %}

{% block title %} {{ menu.menu_title}} {% endblock %}

{% block script %}
    {% if settings.homepage.pk == menu.pk %}
        <script src="{% static 'self_service_terminal/app.js' %}" type="text/javascript" async></script>
    {% endif %}
{% endblock script %}

{% block content %}
    {% if settings.homepage.pk == menu.pk %}
    <div id="welcome">
        <h1>Willkommen <br> bei der AOK</h1>
        <h3>Drücken Sie auf START <br> um ein Formular auszuwählen</h3>
        <button id="start" class="green-btn">START</button>
    </div>
    {% endif %}

{% if settings.homepage.pk == menu.pk %}
<div id="homepage" class="" style="display :none;">
{% else %}
<div id="homepage" class=""></div>
{% endif %}
    <div class="formular">
        <p class="formular-title" style="color: {{ settings.colorval_heading }};">{{menu}}</p>
        <p class="formular-text" style="color: {{ settings.colorval_text }};">
            {{menu.menu_text}}
        </p>
    </div>

    {% if page_obj.paginator.num_pages != 1 %}
    <div class="current">
        Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
    </div>
    {% endif %}

    <div class="content">
        <!--Go to previous page button-->
        <div class="navigation-container">
            {% if page_obj.paginator.num_pages != 1 %}
            {% if page_obj.has_previous %}
            <a class="btn navigation" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else  %}
            <a class="btn navigation noselect isDisabled">&laquo;</a>
            {% endif %}
            {% endif %}
        </div>

        <!--Submenu and Subforms buttons-->
        <div class="btn-container">
            {% for entry in page_obj.object_list %}
            {% if entry.is_menu %}
            <a style="color:{{ settings.colorval_button }}" class="noselect view btn"
                href="/menu/{{ entry.object.pk }}">{{ entry.object.menu_title }}</a>
            {% endif %}

            {% if entry.is_form %}
            <a style="color:{{ settings.colorval_button }}" class="noselect view btn"
                href="/form/{{ entry.object.pk }}?page={{ page_obj.number }}">{{ entry.object.form_title }}</a>
            {% endif %}
            {% endfor %}

            {% if settings.homepage_id != menu.pk %}
            <a style="color:{{ settings.colorval_zurueck_button }}" class="noselect back btn"
                href="/menu/{{ menu.parent_menu.pk }}">
                &#171; Zurück </a>
            {% endif %}
        </div>

        <!--Go to next page button-->
        <div class="navigation-container">
            {% if page_obj.paginator.num_pages != 1 %}
            {% if page_obj.has_next %}
            <a class="btn navigation" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
            <a class="btn navigation noselect isDisabled">&raquo;</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}