{% extends "self_service_terminal/base.html"%}
{% load static %}
{% block title %}///testseite///{% endblock %}
{% block content%}

<div class="customer">
  <p class="exemption">Zuzahlungsbefreigung</p>
  <p>Für welches Jahr möchten Sie eine
    <br class="beantragen">Zuzahlungsbefreigung beantragen?</br></p>

</div>


<form target="_parent" action="index.html" method="post">
  <div class="btn-container">


    <a style="text-decoration: none;color:{{menu.settings.colorval_button}}" class="noselect year btn" href="formular/">
      2020 </a>

    <a style="text-decoration: none;color:{{menu.settings.colorval_button}}" class="noselect year btn" href="formular/">
      2019 </a>

    <a style="text-decoration: none;color:{{menu.settings.colorval_button}}" class="noselect year btn" href="formular/">
      2018 </a>

    <a style="text-decoration: none;color:{{menu.settings.colorval_button}}" class="noselect year btn" href="formular/">
      2017 </a>

    <a style="text-decoration: none;" class="noselect back btn" href="../" style="color:{{menu.settings.colorval_zurueck_button}}>&#171; Zurück </a>


  </div>
</form>

{% endblock %}