{% extends "self_service_terminal/base.html"%}
{% load static %}
{% block title %}///testseite///{% endblock %}
{% block content%}

<div class="customer">
  <p class="exemption">Zuzahlungsbefreigung</p>
  <p>Für welches Jahr möchten Sie eine
    <br class="beantragen">Zuzahlungsbefreigung beantragen?</br></p>

</div>


<form target="_parent" action="index.html" method="post">
  <div class="btn-container">

    <!-- <button class="noselect year btn" type="button" name="2020">2020</button> -->
    <a style="text-decoration: none;" class="noselect year btn" href="formular/"> 2020 </a>
    <!-- <button class="noselect year btn" type="button" name="2019">2019</button> -->
    <a style="text-decoration: none;" class="noselect year btn" href="formular/"> 2019 </a>
    <!-- <button class="noselect year btn" type="button" name="2018">2018</button> -->
    <a style="text-decoration: none;" class="noselect year btn" href="formular/"> 2018 </a>
    <!-- <button class="noselect year btn" type="button" name="2017">2017</button> -->
    <a style="text-decoration: none;" class="noselect year btn" href="formular/"> 2017 </a>
    <!-- <button class="noselect back btn" type="button" name="back">&#171; Zurück</button> -->
    <a style="text-decoration: none;" class="noselect back btn" href="../">&#171; Zurück </a>


  </div>
</form>

{% endblock %}